<!DOCTYPE html>
<html>

<head>
    <title>
        Flights App
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav>
        <a href="/">Home</a>
        &nbsp; |&nbsp;
        <a href="/flights">All flights</a>
        &nbsp; |&nbsp;
        <a href="/flights/new">Add Flight</a>
    </nav>